//Themes

//-------SPRING-----------

$springPrimaryDark: #6f83a1;
$springPrimaryMedium: #6f83a1f4;
$springPrimaryLight: #6f83a133;
$springSecondary: #c79fa2;
$springDanger: #9e5459;
$springSuccess: #94a36c;

$springFontFamily: "Source Sans Pro";

//-------SUMMER-----------

//-------AUTUMN-----------

//-------WINTER-----------
