body {
    margin: 0;
    color: $springPrimaryDark;
    font-family: SourceSansProRegular;

    .login-register-page {
        display: flex;

        .image-wrapper {
            width: 25%;
            height: 100vh;
            background-image: url("../../images/img_login_registration.png");
            background-size: cover;
            background-position: center;
        }
    }
}
